:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

* {
    box-sizing:border-box;
  }

p {
    font-size: 28px;
    margin: 3px;
}
.game-container{
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.RegularTest{
  border-style: solid;
  border-width: 3px;

}

.simpleTestDetailCommon{
  color: rgba(0, 0, 0, 0.5);
}

.TextDetailContainer{
  border-style: solid;
  border-width: 3px;
  display: flex;
  width: 100%;
  padding: 1px;
  margin: auto;
  justify-content: flex-start;
}

.simpleTestDiv{
  border-style: solid;
  border-width: 1px;
  border-color: red;
  display: flex;
  padding: 1px;
  margin: auto;
  justify-content: flex-start;
}

.testDetail{
  display: inline-block;
  flex-basis:
  content;
  margin: 10px;
}